Repository Seacrest2023/analog-economy: changes, and which pre-commit hooks are due for each by the changed paths.
All: iron-dome-py, mock-tax-py, srp-check-py, mock-conformance-py

Path conditions:
  iron-dome-py: any of: ^core-governance/.*\.py$
  mock-tax-py: any of: ^core-governance/tests/.*\.py$
  srp-check-py: any of: ^core-governance/gaian/.*\.py$
  mock-conformance-py: any of: ^core-governance/tests/conftest\.py$

fix: Simplify mypy exclude pattern in pre-commit config
  .pre-commit-config.yaml
Due: none

fix: Fix mypy type errors in base_biome.py and allowlist dev secret
  core-governance/gaian/biomes/base_biome.py
  docker-compose.yml
Due: iron-dome-py, srp-check-py

fix: Switch mypy to system mode for better type detection
  .github/workflows/governance-ci.yml
  .pre-commit-config.yaml
Due: none

fix: Add allowlist pragmas for example secrets in documentation
  .secrets.baseline
  docs/guides/architecture/SCHEMA-VALIDATION.md
  docs/guides/project setup/CONTAINERIZATION.md
  docs/guides/project setup/ENVIRONMENT.md
  docs/specs/training-data-architecture.md
  docs/specs/world-lore.md
Due: none

fix: Add missing allowlist pragma for example secret in ENVIRONMENT.md
  docs/guides/project setup/ENVIRONMENT.md
Due: none

fix: Add remaining allowlist pragmas for example secrets in docs
  docs/guides/project setup/ENVIRONMENT.md
Due: none

docs: Add Gaian Protocol - The 6 Commandments to CLAUDE.md
  claude.md
Due: none

feat: Add Golden Spike observability layer with structlog and TraceID
  core-governance/gaian/main.py
  core-governance/gaian/models/action.py
  core-governance/gaian/observability/__init__.py
  core-governance/gaian/observability/middleware.py
  core-governance/gaian/observability/structlog_setup.py
  core-governance/gaian/routes/action.py
  core-governance/gaian/routes/health.py
  core-governance/requirements.lock
  core-governance/requirements.txt
  core-governance/tests/__init__.py
  core-governance/tests/conftest.py
  core-governance/tests/unit/__init__.py
  core-governance/tests/unit/test_placeholder.py
  core-governance/tests/unit/test_spike_0.py
  pyproject.toml
Due: iron-dome-py, mock-tax-py, srp-check-py, mock-conformance-py

fix: Handle mypy type stub differences between local and CI
  core-governance/gaian/observability/structlog_setup.py
Due: iron-dome-py, srp-check-py
